@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --pri-font: "Hammersmith One", serif;
  --sec-font: "Montserrat", serif;
  --pri-col: #ffd943;
  --sec-col: #1d1204;
  --ano-col: #fffcee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all ease 0.5s;
  /* border: 1px solid #000; */
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--sec-col);
}

@media screen and (max-width: 500px) {
  *::-webkit-scrollbar {
    width: 0.5vw;
  }

  *::-webkit-scrollbar-track {
    border-left: 1px solid var(--sec-col);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--sec-col);
    border-radius: 0 1vw 1vw 0;
  }

  .container {
    border-radius: 2vw;
    width: 100vw;
  }

  .logo {
    padding: 3vw 0;
    font-size: 8vw;
    border-radius: 2vw 2vw 0 0;
  }

  .cont {
    max-height: 85vh;
    padding: 2vw;
  }

  .addNotes {
    padding: 1.5vw;
    margin: 2vw 0 3vw 0;
    font-size: 5vw;
    border-radius: 1vw;
    border: 0.2vw dashed var(--pri-col);
  }

  /* New Note  */

  .newNote {
    width: 80%;
    max-height: 60vh;
    border-radius: 2vw;
  }

  .newNote .closeBtn {
    font-size: 7vw;
    top: -7vw;
  }

  .inputArea {
    padding: 5vw 2vw;
    gap: 3vw;
  }

  .inputArea input {
    height: 4vh;
  }

  .inputArea input,
  .inputArea textarea,
  .inputArea button {
    padding: 1vw 2vw;
    border: 1px solid var(--pri-col);
    border-radius: 0.5vw;
    font-size: 3vw;
  }

  .inputArea textarea {
    height: 10vh;
    max-height: 35vh;
  }

  .inputArea button {
    height: 4vh;
    font-size: 3vw;
  }

  /* Notes  */

  .notesCont {
    width: 100%;
    max-height: 68vh;
    padding: 0 1vw 0 0;
    gap: 3vw;
    grid-template-columns: repeat(1, 1fr);
  }

  .notes {
    max-height: 30vh;
    padding: 0 1vw;
    border: 0.2vw solid var(--sec-col);
    border-radius: 1vw;
  }

  .actions {
    padding: 0.5vw;
    gap: 1.5vw;
    top: 3vw;
    right: 2vw;
  }

  .actions button {
    font-size: 3.5vw;
  }

  .notes h3 {
    padding: 2vw 10vw 2vw 2vw;
    margin: 1vw 0;
    border-radius: 1vw 1vw 0 0;
  }

  .notes p{
    padding: 0 0 1vw 5vw;
  }

  .dateTime {
    font-size: 2vw;
    padding: 0.5vw;
  }
}

@media screen and (min-width: 501px) {
  *::-webkit-scrollbar {
    width: 0.5vw;
  }

  *::-webkit-scrollbar-track {
    border-left: 1px solid var(--sec-col);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--sec-col);
    border-radius: 0 1vw 1vw 0;
  }

  .container {
    border-radius: 2vw;
    width: 85vw;
  }

  .logo {
    padding: 2vw 0;
    font-size: 7vw;
    border-radius: 2vw 2vw 0 0;
  }

  .cont {
    max-height: 80vh;
    padding: 2vw;
  }

  .addNotes {
    padding: 1vw;
    margin: 2vw 0 3vw 0;
    font-size: 3vw;
    border-radius: 1vw;
    border: 0.3vw dashed var(--pri-col);
  }

  /* New Note  */

  .newNote {
    width: 60vw;
    max-height: 90vh;
    border-radius: 2vw;
  }

  .newNote .closeBtn {
    font-size: 3vw;
    top: -5vw;
  }

  .inputArea {
    padding: 2vw;
    gap: 3vw;
  }
  
  .inputArea input {
    height: 4vw;
  }

  .inputArea input,
  .inputArea textarea,
  .inputArea button {
    padding: 1vw 2vw;
    border: 1px solid var(--pri-col);
    border-radius: 0.5vw;
  }

  .inputArea textarea {
    height: 15vw;
  }

  .inputArea button {
    height: 4vw;
    font-size: 1.5vw;
  }

  .notesCont {
    width: 100%;
    max-height: 60vh;
    padding: 0 1vw 0 0;
    gap: 2vw;
    grid-template-columns: repeat(2, 1fr);
  }

  .notes {
    height: 30vw;
    padding: 0 0.5vw;
    border: 0.2vw solid;
    border-radius: 0.8vw;
  }

  .actions {
    padding: 0.5vw;
    gap: 1vw;
    top: 1.5vw;
    right: 0.5vw;
  }
  .actions button {
    font-size: 15px;
  }

  .notes h3 {
    padding: 1vw;
    margin: 0.5vw 0;
    border-radius: 0.5vw 0.5vw 0 0;
  }

  .dateTime {
    font-size: 1vw;
    padding: 0.5vw;
  }
}
@media screen and (min-width: 1000px) {
  *::-webkit-scrollbar {
    width: 0.2vw;
  }

  *::-webkit-scrollbar-track {
    border-left: 1px solid var(--sec-col);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--sec-col);
    border-radius: 0 1vw 1vw 0;
  }

  .container {
    border-radius: 2vw;
    width: 80vw;
  }

  .logo {
    padding: 1vw 0;
    font-size: 5vw;
    border-radius: 2vw 2vw 0 0;
  }

  .cont {
    max-height: 80vh;
    padding: 20px;
  }

  .addNotes {
    padding: 0.8vw;
    margin: 1vw 0 2vw 0;
    font-size: 1.5vw;
    border-radius: 1vw;
    border: 0.15vw dashed var(--pri-col);
  }

  /* New Note  */

  .newNote {
    width: 500px;
    max-height: 90vh;
    border-radius: 1vw;
  }

  .newNote .closeBtn {
    font-size: 2vw;
    top: -2vw;
  }
  .inputArea {
    padding: 2vw;
    gap: 1vw;
  }
  .inputArea input {
    height: 2.5vw;
  }
  .inputArea input,
  .inputArea textarea,
  .inputArea button {
    padding: 0.5vw 1vw;
    border: 1px solid var(--pri-col);
    border-radius: 0.5vw;
  }
  .inputArea textarea {
    height: 10vw;
    max-height: 25vw;
  }
  .inputArea button {
    height: 3vw;
    font-size: 1.2vw;
  }

  .notesCont {
    width: 100%;
    max-height: 60vh;
    gap: 1.5vw;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .notes {
    height: 200px;
    padding:  0.3vw 0.3vw;
    border: 1px solid;
    border-radius: 0.3vw;
    gap: 0.1vw;
  }
  
  .actions {
    padding: 5px;
    gap: 10px;
    top: 10px;
    right: 5px;
  }

  .actions button {
    font-size: 15px;
  }

  .notes h3 {
    padding: 0.5vw;
    margin: 0.3vw 0 0 0;
    border-radius: 0.3vw 0.3vw 0 0;
  }
  
  .dateTime {
    font-size: 0.7vw;
  }
}

.container {
  background-color: var(--ano-col);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  text-align: center;
  font-family: var(--pri-font);
  color: var(--sec-col);
  background-color: var(--pri-col);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 5px 0px;
}

.cont {
  width: 97%;
}

.addNotes {
  width: 100%;
  outline: none;
  color: var(--sec-col);
  font-family: var(--pri-font);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--ano-col);
  position: relative;
}

.addNotes:hover {
  box-shadow: #1d120434 0px 2px 4px 0px inset;
}

.addNotes:active {
  background-color: var(--pri-col);
}

/* New Note  */

.newNote {
  display: none;
  background: #fffcee;
  border: 2px solid var(--pri-col);
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.newNote .closeBtn {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  color: var(--ano-col);
  right: -100%;
}

.newNote h1 {
  width: 100%;
  text-align: center;
  color: var(--sec-col);
  font-family: var(--pri-font);
}

.inputArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputArea h3{
  color: var(--pri-col);
  font-family: var(--pri-font);
  text-align: left;
}

.inputArea input::placeholder {
  color: var(--sec-col);
}

.inputArea input,
.inputArea textarea,
.inputArea button {
  width: 95%;
  outline: none;
  resize: none;
  font-family: var(--sec-font);
  background: transparent;
  color: var(--sec-col);
  border: 1px solid var(--pri-col);
}

.inputArea button {
  background-color: var(--pri-col);
  color: var(--sec-col);
  font-family: var(--pri-font);
}

.inputArea button:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.inputArea button:active{
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

/* Notes container  */

.notesCont {
  display: grid;
  overflow-y: auto;
}

.notes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.notes h3 {
  width: 100%;
  text-align: left;
  font-family: var(--pri-font);
  font-weight: 400;
  background-color: var(--pri-col);
}

.notes p {
  font-family: var(--sec-font);
}

.actions {
  backdrop-filter: blur(5px);
  display: flex;
  position: absolute;
}

.actions button {
  border: none;
  outline: none;
  color: var(--sec-col);
  background-color: transparent;
  cursor: pointer;
}

.dateTime {
  width: 100%;
  font-family: var(--sec-font);
  text-align: right;
}
